$icomoon-font-path: "fonts" !default;

$latista-issue: "\e91f";
$latista-logout: "\e920";
$latista-dropdown-arrow: "\e921";
$latista-color-bucket: "\e922";
$latista-voice: "\e901";
$latista-user: "\e902";
$latista-text: "\e904";
$latista-settings: "\e906";
$latista-search: "\e907";
$latista-sync: "\e905";
$latista-back-arrow: "\e91c";
$latista-redo: "\e909";
$latista-undo: "\e903";
$latista-forward-arrow: "\e912";
$latista-pen: "\e90b";
$latista-line: "\e90d";
$latista-issue-list: "\e90e";
$latista-issue-entry: "\e90f";
$latista-info: "\e910";
$latista-image: "\e911";
$latista-favorite: "\e913";
$latista-delete: "\e915";
$latista-contact-list: "\e916";
$latista-company: "\e917";
$latista-close: "\e919";
$latista-circle: "\e91a";
$latista-calendar: "\e91b";
$latista-attachment: "\e91d";
$latista-arrow: "\e91e";
$latista-camera: "\e900";

